<%= form_with model: @meeting, local: true do |f|%>
  <%= render "error_messages", model: f.object %>

  <div class="field">
    <%= f.label :'日時' %><br />
    <%= f.date_field :date, value: (f.object.date || @date) %>
    <%= f.time_field :time %>
  </div>

  <div class="field">
    <%= f.label :'議題' %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :'お客様' %><br />
    <%= f.text_field :client %>
  </div>

  <div class="field">
    <%= f.label :'zoom URL' %><br />
    <%= f.text_field :zoom_url %>
  </div>

  <div class="actions">
    <%= f.submit "作成する" %>
  </div>

<% end %>