<div class='main-area'>
  <%# ポップアップ化したい %>
  <div class='show-wrap'>
    <div class='show-window'>
      <div class='meeting-day'>
        会議日程
        <%= @meeting.date.strftime"%m/%d" %>
        <%= @meeting.time.strftime"%H:%M" %>
      </div>
      <div class='meeting-organizer'>
        担当者
        <%= @meeting.user.name %>
      </div>
      <div class='meeting-title'>
        <%= @meeting.title %>
      </div>
      <div class='meeting-client'>
        <%= @meeting.client %>
      </div>
        参加者
      <ul class='meeting-member-list'>
        <%= 10.times do%>
          <li class='meeting-member'>
            テストです
          </li>
        <% end %>
      </ul>
        議事録
      <div class='minutes-area'>
        めっちゃ必要
        長くなると思う
        どうやって表示しようか
        これから考えるけど
        ポップアップにする？
        別ページにする？
        同一でスクロールもありだよね
        スクロールかな
        テストも兼ねてるし
        とてつもなく長い一文だとどういう表示になるのか疑問に思うけど折り返されるかな？はみ出るかな？といったテスト
        スクロールが消えてしまったのでまた文章を増やしてスクロールするように修正をかけるけどこんなことより早く次の機能やった方がいいな
      </div>
    </div>
  </div>
  <%# ポップアップ化したい ここまで%>
</div>